/* style.css */
body{
      font-family: 'Gilroy', Arial, "Helvetica Neue", sans-serif;
      margin:0;
      background: linear-gradient(to bottom, #f7f7f7 0%,#f7f7f7 10%,#ffffff 100%
    );
      color:#333;
  }
  
#donate, #search, #profile{
    display:none;
    text-align: center;
}



/* NAVIGATION BAR */



nav {
    background-color: white;
    display: flex;       
    padding:5vh;     
    justify-content: space-between; 
    align-items: center;       
}

.nav-buttons{
      margin:0;
      margin-right:10px;
}

nav h2 {
    color: rgb(0, 0, 0);
    margin:0;
    margin-left:10px;

}

nav a {
    display:inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;    
    margin: 0 10px;
    font-weight: 700;
    padding:5px;
    font-size:1rem;
    transition: transform 0.2s ease; 

}

nav a:hover {
    color:#FF5200;            
    transform: scale(1.05);
}



/* HOME */



.home-flex{
      /* border:2px solid black; */
      display:flex;
      flex-direction: column;
      height:100vh;
      /* align-items: center;
      justify-content: center; */
      text-align: center;

}

h1 {
    /* border:2px solid black; */
    color: #ff914d; 
    margin-bottom: 30px;
    font-size: 2.5rem;
}

button {
    background: #ff914d;
    border:none;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 700;
    transition: transform 0.2s ease; 
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);

}

button:hover{
    transform: scale(0.95);
}


.food-grid{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap:40px;
}

.card{
  /* border:2px solid black; */
  text-align: center;
  width:220px;
  height: 300px;
}

.card img{
    width: 220px;       
    height: 180px;      
    object-fit: cover;  
    border-radius: 12px; 
    transition: transform 0.2s ease; 
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.card img:hover{
    transform: scale(0.95);
}



/* DONATIONS*/



.donate-flex{
  display:flex;
  flex-direction: column;
  gap:20px;
}

.donate-flex div{
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: left;
  width:300px;
  margin:0px auto;             
}

.donate-flex label {
  /* border:2px solid black; */
  width: 120px;          
  text-align: left;
  font-weight: 600;
}

.donate-flex input {
  /* border:2px solid black; */
  padding: 8px;
}

.donate-flex input:focus {
  border-color: #ff914d;
  outline-color: #FF5200;
}


/* SEARCH FEATURE */

.search-bar input{
  padding: 10px;
}

.search-bar  input:focus {
  border-color: #ff914d;
  outline-color: #FF5200;
}



/* PROFILE MANAGEMENT */

.profile-flex{
    /* border:2px solid black; */
  display:flex;
  justify-content: space-around;
}


.profile-flex-item form{
  margin-top: 0px;
  /* border:2px solid rgb(0, 4, 255); */
}

.profile-flex-item label{
  font-weight: 700;
  font-size: 1rem;
}

.profile-flex-item input{
  padding:4px 25px;
}

.profile-flex-item input:focus{
    border-color: #ff914d;
    outline-color: #FF5200;
    
}

.profile-formcontent{
  /* border:2px solid black; */
  display: flex;
  justify-content: space-between;
  margin:8px 0px;
  gap:20px;
}

  /* p{
      /* border:2px solid black; */
  /*}

  .buttons{
      /* border: 2px solid rgb(0, 0, 0); */
  /*}